body{
	background-color: #1f2429;
	color: #ddd;
	font-family: 'Nunito', sans-serif;
}

.nav{
	background-color: #161616;
	width: 100%;
	padding: 0.5rem 2rem;
	box-sizing: border-box;
} 

.search{
	text-align: center;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
}

.search p{
	font-size: 14px;
	margin: 0;
}

button, select{
	border: 1px solid #2d3436;
	background-color: #2c3e50;
	color: #ddd;
	font-family: inherit;
	font-size: 16px;
	padding: 4px 6px;
	outline: none;
	margin: 0 4px;
	border-radius: 4px;
	cursor: pointer;
}

.content{
	min-height: 58vh;
	text-align: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
	background-color: #292f36;
	margin: 1rem;
	text-align: left;
	border-radius: 6px;
	max-width: 280px;
	transition: 0.3s ease-out;
	box-shadow: 0 2px 2px #292f36;
}

.card:hover{
	transform: scale(1.03, 1.03);
}

.card img{
	width: 280px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}


.card-bottom{
	padding: 1rem;
}

.card h3{
	display: inline-block;
	max-width: 82%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
}


.card p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
	color: #bbb;
}

.about{
	margin-top: 2rem;
	background-color: #161616;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
	text-align: center;
	font-size: 90%;
}

.about p{
	margin: 0;
}

h2, h3{
	margin: 0.5rem 0;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 16px;
}

small{
	display: block;
	color: #ccc;
}

span{
	font-size: 14px;
	color: #ccc;
}

.badge{
	float: right;
	border-radius: 4px;
	background-color: #323232;
	padding: 2px 4px;
	background-color: #2980b9BB;
	color: #ddd;
}

.card-bottom img{
	width: 22px;
	border-radius: 0;
	float: right;
	margin-right: 8px;
}