*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

canvas{
	display: block;
	margin: 0 auto;
}

#copyright{
	font-size: 14px;
	font-family: sans-serif;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
}