body{
	background-color: #222831;
	color: #EEEEEE;
	text-align: center;
	font-family: sans-serif;
}

input, button{
	font-family: inherit;
	background-color: #393E46;
	color: inherit;
	padding: 8px 12px;
	border: 2px solid #00ADB5;
	outline: none;
	border-radius: 8px;
	font-size: 16px;
}

#bmiresult{
	font-weight: normal;
	font-size: 32px;
}